<h1 style="text-align: center">MOVIE TICKETS</h1>

<div></div>
<div
  class="btn-group"
  role="group"
  aria-label="Basic outlined example"
  *ngFor="let theater of getTheaters()"
>
  <button
    (click)="onChange(theater)"
    type="button"
    [ngClass]="{ active: theater.id === getC() }"
    class="btn btn-outline-primary"
  >
    {{ theater.name }}
  </button>
</div>
<div style="text-align: center">
  <app-movie [theater]="getTheaterByIdCurrent()"></app-movie>
</div>

<div class="time-list" *ngFor="let show of getShowsForTheater()">
  <button type="button" class="btn btn-primary">{{ show.showTime }}</button>
</div>
